@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #385340;
  --light-text-color: #ebf1cf;

  --background-nav: #ebf1cf;
  --dark-text-color: #34553d;

  --greeting-text-color: #536266;

  --background-color-card: #ebf1cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--background-nav);
  border-radius: 10px;
}

header {
  width: 100%;
  height: 64px;
  margin-top: 1.3%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;

  top: 0;
  transition: top 0.3s ease-in-out;
}

nav {
  background: var(--background-nav);
  max-width: 825px;
  width: 100%;
  border-radius: 25px;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
}

.nav-up {
  top: -140px;
}

nav::before {
  content: "";
  position: absolute;
  inset: -0.5px; /* Extends 15px in all directions */
  background: linear-gradient(to right, #fbcf7e, #d8e193);
  border-radius: 35px;
  z-index: -1;
  filter: blur(25px);
  opacity: 0.7;
  /*filter: blur(25px);*/
  /*opacity: 0.7;*/
}

nav a {
  text-decoration: none;
  color: var(--dark-text-color);
  padding: 5px 0; /* Add vertical padding for clickable area */
  position: relative; /* Needed for ::after positioning */
  display: inline-block; /* Needed for height to work properly */
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--dark-text-color);
  transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a.active::after {
  width: 100%;
}

nav a.active {
  font-weight: bold;
}

/*!* Ensure greeting/text stays visually centered via CSS base transform;*/
/*   JS will append parallax offset to this base transform (see JS) *!*/
/*#greeting, #text, .greeting {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 115px; !* keep this consistent with your media queries *!*/
/*    transform: translate(-50%, -105%);*/
/*    will-change: transform;*/
/*    pointer-events: none;*/
/*}*/

#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, transparent, var(--background-color));
  pointer-events: none;
  z-index: 10;
}

section:not(#home) {
  position: relative;
  color: var(--light-text-color);
  margin: 10%;
}

#journey {
  scroll-margin-top: 14vh;
}

#skills,
#projects {
  scroll-margin-top: 8vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.chapter {
  margin-bottom: 4%;
}

.chapter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5%;
}

.chapter-title {
  font-family: "Averia Serif Libre", serif;
  font-size: 3.125rem;
  /*text-decoration: underline;*/
  /*text-decoration-thickness: 2px;*/
  /*text-underline-offset: 8px;*/
}

.timeline {
  font-family: "Averia Serif Libre", serif;
  font-size: 1.875rem;
}

.chapter-content {
  font-family: "Noto Serif", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5625rem;
  line-height: 40px;
  width: 85%;
}

.chapter-content .chip-link {
  color: inherit;
  text-underline-offset: 5px;
}

.row-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 3%;
}

.icon-label-container {
  justify-items: center;
  font-size: 1.875rem;
}

.icon-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Creates a square aspect ratio */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the icon */
  width: 70%;
  height: 70%;
  transition: opacity 0.3s ease;
  object-fit: contain;
}

.icon-plain {
  filter: brightness(0) saturate(100%) invert(96%) sepia(8%) saturate(772%)
    hue-rotate(24deg) brightness(104%) contrast(89%);
  opacity: 1;
}

.icon-original {
  opacity: 0;
}

.icon-container:hover .icon-plain {
  opacity: 0;
}

.icon-container:hover .icon-original {
  opacity: 1;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-bottom: 15%;
}

.category.uiux-category {
  margin-bottom: -2%;
}

.category-title {
  font-family: "Averia Serif Libre", serif;
  font-size: 3.125rem;
  margin-bottom: 40px;
}

/* From Uiverse.io by SteveBloX */
.card {
  box-sizing: border-box;
  max-width: 750px;
  width: 100%;
  min-height: 640px;
  height: auto;
  background-color: var(--background-color-card);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  will-change: transform, border;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.project-cover {
  object-fit: cover;
  width: 100%;
  height: 405px;
  object-position: center top;
  /*box-shadow: 0px 5px 120px rgba(100, 138, 108, 0.5);*/
}

.project-info {
  padding: 4%;
  color: var(--dark-text-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 150px;
}

.project-title {
  font-family: "Averia Serif Libre", serif;
  font-size: 1.5625rem;
  margin-bottom: 1%;
}

.project-description {
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  margin-bottom: auto;
}

.language-tag-container {
  color: var(--dark-text-color);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4% 3% 3% 3%;
  /*min-height: 100px;*/
  align-items: flex-start;
}

.language-tag {
  font-family: "Noto Serif", serif;
  background-color: var(--background-color);
  color: var(--light-text-color);
  padding: 12px 25px;
  border-radius: 15px;
  font-size: 1.25rem;
}

footer {
  background-color: #2c4434;
}

.footer-content {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-media-icon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(8%) saturate(772%)
    hue-rotate(24deg) brightness(104%) contrast(89%);
}

.social-media-icon img {
  width: 40px;
  height: 40px;
}

.copyright {
  font-family: "Noto Serif", serif;
  color: var(--light-text-color);
  text-align: center;
}

#text,
#clouds,
#foreground_trees,
#background_trees,
#foreground_trees_clone,
#background_trees_clone {
  will-change: transform;
}

/* Make website responsive */
/* Desktop container utility class: */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
