body {
    height: 3000px;
}

html {
    scroll-padding-top: 80px; 
}

a {
    color: black;
    text-decoration: none;
}

.header {
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
}

.left-section {
    padding: 0 10px 0 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.left-section .name {
    font-size: 25px;
    font-weight: bold;
}

.right-section {
    display: flex;
    align-items: center;
    padding: 0 10px 0 30px;
}

.linkedin-icon {
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

#about {
    margin-top: 100px;
    text-align: center;
}

#about-anchor {
    font-weight: bold;
}

#photo-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 25px 20px 30px 20px;
    padding-bottom: 25px;
}

@media (max-width: 575px) {
    #photo-gallery-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 576px) and (max-width: 999px) {
    #photo-gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    #photo-gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}